@using Kitaplik.Entities.Concrete.Dtos
@model LoginDto

<form asp-action="Login" method="post">
    <div class="form-group">
        <input type="text" placeholder="UserName" class="input" name="UserName"></input> <br />
        <input type="password" placeholder="Password" class="input" name="Password"></input> <br />
        <button class="btn">Giriş Yap</button>

    </div>

</form>
