
<form asp-action="Add" method="post">
    <div>
        <input type="text" name="Content" />
        <input type="text" name="IsShared" />
        <input type="date" name="DateCreated" />
        <input type="date" name="DateUpdated" />
        <input type="text" name="BookId" />
        <input type="text" name="ShareSettingId" />
        <button>Ekle</button>
    </div>


</form>