
<form asp-action="Add" method="post">
    <div>
        <input type="text" name="Title"/>
        <input type="text" name="Author"/>
        <input type="text" name="ISBN" />
        <input type="text" name="Description" />
        <input type="text" name="ImageUrl" />
        <input type="text" name="ShelfLocation" />
        <input type="date" name="PublishedDate" />
        <input type="date" name="DateAdded" />
        <button>Ekle</button>
    </div>


</form>